In [1]:
import requests
import json

def get_smhi_weather_data(lat, lon):
    url = f"https://opendata-download-metfcst.smhi.se/api/category/pmp3g/version/2/geotype/point/lon/{lon}/lat/{lat}/data.json"

    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()

        with open(f'smhi_weather_data_{lat}_{lon}.json', 'w') as outfile:
            json.dump(data, outfile, indent=4)

        print(f"Weather data for coordinates ({lat}, {lon}) retrieved successfully.")
        return data
    else:
        print(f"Failed to retrieve data: HTTP {response.status_code}")
        return None

latitude = 59.3293
longitude = 18.0686
weather_data = get_smhi_weather_data(latitude, longitude)

Weather data for coordinates (59.3293, 18.0686) retrieved successfully.

In [2]:
import pandas as pd

In [13]:
def process_smhi_weather_data(weather_data):
    time_series = weather_data['timeSeries']

    processed_data = []

    for time_entry in time_series:
        valid_time = time_entry['validTime']

        parameters = time_entry['parameters']

        processed_entry = {'valid_time': valid_time}

        for parameter in parameters:
            name = parameter['name']
            values = parameter['values']

            processed_entry[name] = values

        processed_data.append(processed_entry)

    df = pd.DataFrame(processed_data)

    return df

In [15]:
# Now let's look at the data

df = process_smhi_weather_data(weather_data)
df.head()

,valid_time,spp,pcat,pmin,pmean,pmax,pmedian,tcc_mean,lcc_mean,mcc_mean,hcc_mean,t,msl,vis,wd,ws,r,tstm,gust,Wsymb2
0,2024-08-19T10:00:00Z,[-9],[0],[0.0],[0.0],[0.0],[0.0],[0],[0],[0],[0],[19.9],[1011.5],[39.4],[270],[4.3],[50],[0],[9.5],[1]
1,2024-08-19T11:00:00Z,[-9],[0],[0.0],[0.0],[0.0],[0.0],[0],[0],[0],[0],[20.8],[1011.8],[44.1],[274],[3.9],[43],[0],[9.1],[1]
2,2024-08-19T12:00:00Z,[-9],[0],[0.0],[0.0],[0.0],[0.0],[2],[0],[0],[2],[21.6],[1012.3],[48.9],[286],[4.2],[37],[0],[9.3],[2]
3,2024-08-19T13:00:00Z,[-9],[0],[0.0],[0.0],[0.0],[0.0],[3],[0],[0],[3],[22.0],[1012.5],[51.2],[285],[3.7],[35],[0],[9.2],[2]
4,2024-08-19T14:00:00Z,[-9],[0],[0.0],[0.0],[0.0],[0.0],[2],[0],[0],[2],[22.3],[1012.8],[53.9],[280],[3.3],[32],[0],[8.5],[2]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   valid_time  84 non-null     object
 1   spp         84 non-null     object
 2   pcat        84 non-null     object
 3   pmin        84 non-null     object
 4   pmean       84 non-null     object
 5   pmax        84 non-null     object
 6   pmedian     84 non-null     object
 7   tcc_mean    84 non-null     object
 8   lcc_mean    84 non-null     object
 9   mcc_mean    84 non-null     object
 10  hcc_mean    84 non-null     object
 11  t           84 non-null     object
 12  msl         84 non-null     object
 13  vis         84 non-null     object
 14  wd          84 non-null     object
 15  ws          84 non-null     object
 16  r           84 non-null     object
 17  tstm        84 non-null     object
 18  gust        84 non-null     object
 19  Wsymb2      84 non-null     object
dtypes: object(20)
memory usage: 13.3+ KB